# **Countvectoriserwebscrapping**

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [ ]:
# Web scraping function
def web_scraping_action(url):
  response = requests.get(url)
  soup = BeautifulSoup(response.text, "html.parser")
  text_data = soup.get_text()
  return text_data

In [ ]:
# Define a function for cleaning and preprocessing the text data
def preprocess_text(text):
    # Remove HTML tags
    text = BeautifulSoup(text, "html.parser").get_text()

    # Convert to lowercase
    text = text.lower()

    # Remove non-alphanumeric characters
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)

    # Tokenize the text into words
    words = word_tokenize(text)

    # Remove stopwords
    words = [word for word in words if word not in stopwords.words('english')]

    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]

    # Join the cleaned words back into a single string
    cleaned_text = " ".join(words)

    return cleaned_text

In [ ]:
def vectorize_text_to_df(_text):
  # vectorize the text coming from cleaned text
  #print(cleaned_text)
  # Feature extraction
  vectorizer = CountVectorizer()
  features = vectorizer.fit_transform([_text])
  # Create dataframe
  df = pd.DataFrame(features.toarray(), columns=vectorizer.get_feature_names_out())
  # Print the dataframe
  print(df)
  return df

In [ ]:
_urls = ['https://find-energy-certificate.service.gov.uk/energy-certificate/9485-3019-0664-0100-5191',
         'https://find-energy-certificate.service.gov.uk/energy-certificate/0970-4964-0413-4769-6024',
         'https://find-energy-certificate.service.gov.uk/energy-certificate/0970-4964-0413-4760-6224',
         'https://find-energy-certificate.service.gov.uk/energy-certificate/0970-4964-0413-4768-6124',
         'https://find-energy-certificate.service.gov.uk/energy-certificate/0746-0643-4619-2697-4102',
         'https://find-energy-certificate.service.gov.uk/energy-certificate/0970-4964-0413-4764-6120',
         'https://find-energy-certificate.service.gov.uk/energy-certificate/9442-4067-0631-2608-7495']

dfMain = pd.DataFrame()
for _url in _urls:
  # call web scrapping function
  _scrapped_data = web_scraping_action(_url)
  _cleaned_text = preprocess_text(_scrapped_data)
   # call api to summarize clean txt
  dfn = vectorize_text_to_df(_cleaned_text)

  if dfMain is None or dfMain.empty:
     dfMain = dfn.copy()
     dfMain = pd.merge(dfMain, dfn)
  # dfMain.head()

# Specify the path and file name for the Excel file
     #output_file = "output.xlsx"

# Copy the DataFrame to an Excel file
  #dfMain.to_excel(output_file, index=False)


#print("DataFrame copied to Excel file successfully.")

   020  025  0330  0748  07710444409  101125  124  126150  15  150  ...  \
0    1    1     1     1            1       1    1       1   2    1  ...

   ventilation  view  wed  work  worst  wwwassetepccouk  year  youre  youve  \
0            1     1    1     1      1                1     1      2      2

   zero
0     1

[1 rows x 190 columns]
   020  0748  07577  09704964041347696024  1b  2017  2027  258137  2pj  30  \
0    1     1      1                     1   1     1     1       1    1   1

   ...  wigginton  wind  window  within  work  would  year  yo32  york  youve
0  ...          1     1       1       1     1      1     2     1     2      2

[1 rows x 197 columns]
   020  0748  07577  09704964041347606224  18  2017  2027  258137  2pj  31  \
0    1     1      1                     1   1     1     1       1    1   1

   ...  wigginton  wind  window  within  work  would  year  yo32  york  youve
0  ...          1     1       1       1     1      1     2     1     2      2

[1 rows x 217 columns]
   020  0748  07577  09704964041347686124  15  2017  2027  25  258137  2pj  \
0    1     1      1                     1   1     1     1   1       1    1

   ...  wigginton  wind  window  within  work  would  year  yo32  york  youve
0  ...          1     1       1       1     1      1     2     1     2      2

[1 rows x 208 columns]
   020  07460643461926974102  0748  07577  13  2017  2027  23  258137  2pj  \
0    1                     1     1      1   1     1     1   1       1    1

   ...  wigginton  wind  window  within  work  would  year  yo32  york  youve
0  ...          1     1       1       1     1      1     2     1     2      2

[1 rows x 210 columns]
   020  0748  07577  09704964041347646120  11  2017  2027  258137  2pj  30  \
0    1     1      1                     1   1     1     1       1    1   1

   ...  wigginton  wind  window  within  work  would  year  yo32  york  youve
0  ...          1     1       1       1     1      1     2     1     2      2

[1 rows x 204 columns]
   020  0748  07577  2017  2027  258137  2pj  34  3829  41  ...  wigginton  \
0    1     1      1     1     1       1    1   1     1   1  ...          1

   wind  window  within  work  would  year  yo32  york  youve
0     1       1       2     1      1     3     1     2      2

[1 rows x 203 columns]

In [ ]:
dfMain.head()

,020,025,0330,0748,07710444409,101125,124,126150,15,150,...,ventilation,view,wed,work,worst,wwwassetepccouk,year,youre,youve,zero
0,1,1,1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,2,2,1

In [ ]:
# Specify the path and file name for the Excel file
output_file = "output1.xlsx"

# Copy the DataFrame to an Excel file
dfMain.to_excel(output_file)

print("DataFrame copied to Excel file successfully.")

DataFrame copied to Excel file successfully.